<svg attr.viewBox="{{-viewBox.translateX}} {{-viewBox.translateY}} {{windowDims.width}} {{windowDims.height}}" *ngIf="roomData">
    <defs>
        <pattern attr.id="pattern-{{attendee.user.id}}" width="25" height="25" *ngFor="let attendee of roomData">
            <image [attr.href]="attendee.user.profile.avatar" width="25" height="25"></image>
        </pattern>
    </defs>
    <circle
        r="12.5"
        attr.transform="translate({{attendee.data.data.x}} {{attendee.data.data.y}}) rotate({{attendee.data.data.direction + 90}})"
        attr.fill="url(#pattern-{{attendee.user.id}})"
        *ngFor="let attendee of roomData"></circle>
</svg>